body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-width: 1020px;
}

.main {
  max-width: 984px;
  max-height: 1614px;
  min-width: 984px;
  min-height: 1614px;
  width: 984px;
  height: 1614px;
  margin: 18px;
  padding: 0;
  background-color: #f6f5f3;

  display: flex;
  flex-direction: column;
  position: relative;

  align-items: center;

  font-family: "Arial";
  text-align: left;
  line-height: 1.2;
}

.wrapper {
  width: 840px;
  display: flex;
  justify-content: flex-end;
}

.cars-quote {
  max-width: 650px;
  margin: 0 25px 50px 25px;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.circle {
  width: 59px;
  height: 59px;
  min-width: 59px;
  min-height: 59px;
  background: rgb(255, 219, 74);
  border-radius: 50%;
  box-shadow: 1.5px 1.5px 1.5px 0px rgba(255, 90, 0, 0.8);
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 18px;
  height: 27px;
}

.circle:hover {
  cursor: pointer;
  opacity: 80%;
}

.arrow-left {
  background-image: url(../assets/images/arrow-l.png);
}

.arrow-right {
  background-image: url(../assets/images/arrow-r.png);
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.logo {
  margin-bottom: 40px;
}

.title {
  font-size: 35px;
  color: rgb(0, 0, 0);
  transform: matrix(1.02585593533417, 0, 0, 1.02585593533417, 0, 0);
  width: 625.712px;
  height: 151.333px;
  text-indent: -1ch;
  margin: -7px 0 50px 25px;
  font-weight: normal;
}

.arrows {
  position: absolute;
  top: 255px;
  left: 138px;
}

.cars {
  width: 600px;
}

.video {
  width: 641px;
  min-height: 361px;
  background-image: url(../assets/images/video.jpg);
  background-size: 641px 361px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.video-title {
  font-size: 29.02px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.005em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 90px;
}

.play-btn {
  width: 126px;
  height: 126px;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
}

.play {
  margin: 0 auto;
}

.play:hover {
  cursor: pointer;
  opacity: 80%;
}

.main-title {
  font-size: 47px;
  line-height: 1.2;
  letter-spacing: 0.0078em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 20px;
}

.card {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-name {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 52px;
  width: 100%;
}

.card-img {
  margin-bottom: 36px;

  height: 84px;
}

.card-info {
  font-size: 16px;
  margin: 0;
}

.slogan {
  font-size: 42px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.try {
  width: 317px;
  height: 70px;
  background: #ffde1f;
  border-radius: 15px;
  font-size: 36px;
  border: none;
}

.btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.try {
  margin-bottom: 140px;
}

.try:hover {
  opacity: 80%;
  cursor: pointer;
}
